## Tuple Basics

Create and Access

In [1]:
tup=(1,2,3,"Henry")
print(tup)
print(tup[0])
print(tup[3])

(1, 2, 3, 'Henry')
1
Henry

Tuple length

In [3]:
fruits=("Mango","Apple","Grapes")
count=0
for i in fruits:
    count+=1
print(count)

3

printing marks using for loop

In [7]:
marks=(89,90,96,78,54)
for i in marks:
    print(i)

89
90
96
78
54

Count the appearance of elements

In [16]:
n=(1,1,2,2,2,3,3,3,3,4,4,4,4)
for i in n:
    i=n
print(n.count(1))

2

largest and smallest

In [18]:
tup=(25,68,96,99,101,135,0.01,0.0009,0.0005)
max=tup[0]
min=tup[0]
for i in tup:
    if i>max:
        max=i
    if i<min:
        min=i
print(f"The largest number is : {max}")
print(f"The smallest number is : {min}")

The largest number is : 135
The smallest number is : 0.0005

Check the element

In [24]:
tup=(25,68,96,99,101,135,0.01,0.0009,0.0005,"Bad")
for i in tup:
    if "good" in tup:
        available=True
    else:
        available=False
if available==True:
    print("Good is available")
else:
    print("Bad")

Bad

Tuple unpacking

In [27]:
marks=(79,89,99)
#unpacked tuple
rohith,deepika,netra=marks
print(f"Rohith: {rohith}")
print(f"Deepika: {deepika}")
print(f"Netra: {netra}")

Rohith: 79
Deepika: 89
Netra: 99

Tuple unpacking using *

In [28]:
marks=(79,89,99,99,89,79,69)
rohith,*deepika,netra=marks
print(rohith)
print(*deepika)
print(netra)

79
89 99 99 89 79
69

Converting tuple to list and adding a new number

In [35]:
tup=(1,2,3)
lst=list(tup)
lst.append(4)
print(lst)

[1, 2, 3, 4]

Printing even numbers

In [36]:
tup=(1,2,2,3,4)
total=0
for i in tup:
    if i%2==0:
        total+=i
print(total)

8